.burger-menu {
    height: 10px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger-bar{
    height: 2px;
    width: 100%;
    background-color: var(--text-color);
}

.menu {
    width: 100%;
    background-color: var(--dark-grey);
    transition: height 0.5s ease-in-out;
}

/* ----- open menu ----- */

.menu.hidden {
    height: 0;
    display: none;
}

.menu.visible {  
    height: 400px;
    display: block;
}

/* ----- animation ----- */
/* clicked */

.burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
    transform: rotate(-45deg) translate(6px, -5px);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
}